<!DOCTYPE html>
{% extends "base.html" %}


{% block pagecontent %}

<style>
    h1 {
    text-align: center;
    margin-top: 200px;
    color: white;
    font-size: 70px;
    margin-bottom: 40px;
    }

label {
    white-space:pre-wrap;
    text-align: center;
    color: white;
    font-size: 100px
    padding: 50px;
    position:relative;
    left:500px;
    }

.column {
  float: left;
  width: 12%%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

</style>
<h1 style="font-family:verdana"><b>About us</b></h1>
    <div>
        <label>We're a simple chess website created by some students looking to make playing chess simple!
Learn some stuff about the creators below and visit their social links.
        </label>

    </div>
    <div>
        <div class="row">
            <div class="column">
                <label style="font-size:60px;position:relative;left:200px;"><u>Lucas</u></label></br>
                <img style="position:relative;left:200px;" src="https://media.discordapp.net/attachments/771905159554662400/774469365445558282/image0.jpg?width=902&height=677" width=200 height=150</li>
                <li style="font-size:35px;position:relative;left:200px;color: white;"><a href="https://github.com/notkobalt">Github</a></li>
                <li style="font-size:35px;position:relative;left:200px;color: white;"><a href="https://www.instagram.com/lucasisbored/">Instagram</a></li>
                <li style="font-size:15px;position:relative;left:150px;color: white;">Here is some stuff about me that I
                    will write later.</li>

            </div>
            <div class="column">
                <label style="font-size:60px;position:relative;left:400px;"><u>Ava</u></label>
            </div>
            <div class="column">
                <label style="font-size:60px;position:relative;left:600px;"><u>Kyle</u></label>
            </div>
            <div class="column">
                <label style="font-size:60px;position:relative;left:800px;"><u>David</u></label>
            </div>
        </div>
    </div>


{% endblock %}