<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}


<!-- this is the template that allows for the user to  -->
<head>
    <meta charset="UTF-8">

    <style>
            h1 {
        text-align: center;
        margin-top: 50px;
        color: white;
        font-size: 70px;
        }
        .even {
        background-color: #436FA5;
        border: none;
        height: 80px;
        width: 80px;
        font-size:48px;
        line-height: 1.1em;
        }

        .odd {
        background-color: #ffffff;
        border: none;
        height: 80px;
        width: 80px;
        font-size:48px;
        line-height: 1.1em;
        }

        .even_black {
        background-color: #436FA5;
        border: none;
        color: black;
        font-size:48px;
        line-height: 1.1em;
        }
        .odd_black {
        background-color: #ffffff;
        border: none;
        color: black;
         font-size:48px;
        line-height: 1.1em;
        }
        .even_white {
        background-color: #436FA5;
        border: none;
        color: black;
         font-size:48px;
        line-height: 1.1em;
        }
        .odd_black {
        background-color: #ffffff;
        border: none;
        color: black;
         font-size:48px;
        line-height: 1.1em;
        }

        .selected{
        background-color: #FFFF00;
        border: none;
        }
        .white {
        color: black;
        }
        .black {
        color: black;
        }

        #turn__table {

            overflow: auto;
        }
        .turn__number {
        text-align: center;
        }
        .turn__values {
        text-align: center;
        }


    </style>
</head>
<div class="banner">
    <div class="container">
        <h1>AI</h1>
        <body onLoad="scrollDiv_init()">
        <table class="center__table">
            <tr>

            </tr>
            <tr>
                <td>
                    <form method="post" id="chessInput"> <!-- this is another post tag to allow for user interaction -->
                        <table>

                            <tr><!-- if row == board 5 -->

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "odd" type ="submit"  value=♜ inputName="firstButton" formaction=board/ai/ai/a8 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "even" type ="submit" style="font-size:48px; line-height: 1.1em" value=♞ inputName="firstButton" formaction=board/ai/b8 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "odd" type ="submit" style="font-size:48px; line-height: 1.1em" value=♝ inputName="firstButton" formaction=board/ai/c8 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "even" type ="submit" style="font-size:48px; line-height: 1.1em" value=♛ inputName="firstButton" formaction=board/ai/d8 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "odd" type ="submit" style="font-size:48px; line-height: 1.1em"value=♚ inputName="firstButton" formaction=board/ai/e8 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "even" type ="submit" style="font-size:48px; line-height: 1.1em" value=♝ inputName="firstButton" formaction=board/ai/f8 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "odd" type ="submit" style="font-size:48px; line-height: 1.1em" value=♞ inputName="firstButton" formaction=board/ai/g8 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "even" type ="submit" style="font-size:48px; line-height: 1.1em" value=♜ inputName="firstButton" formaction=board/ai/h8 /></td>



                            </tr>

                            <tr><!-- if row == board 5 -->
                                <!-- if the row is even, 8,6,4,2 -->


                                <td><input class = "even" type ="submit" style="font-size:48px; line-height: 1.1em" value=♟︎️︎ inputName="firstButton" formaction=board/ai/a7 /></td>



                                <td><input class = "odd" type ="submit" style="font-size:48px; line-height: 1.1em" value=♟︎️︎ inputName="firstButton" formaction=board/ai/b7 /></td>



                                <td><input class = "even" type ="submit" style="font-size:48px; line-height: 1.1em" value=♟︎️︎ inputName="firstButton" formaction=board/ai/c7 /></td>



                                <td><input class = "odd" type ="submit" style="font-size:48px; line-height: 1.1em" value=♟︎️︎ inputName="firstButton" formaction=board/ai/d7 /></td>



                                <td><input class = "even" type ="submit" style="font-size:48px; line-height: 1.1em" value=♟︎️︎ inputName="firstButton" formaction=board/ai/e7 /></td>



                                <td><input class = "odd" type ="submit" style="font-size:48px; line-height: 1.1em" value=♟︎️︎ inputName="firstButton" formaction=board/ai/f7 /></td>



                                <td><input class = "even" type ="submit" style="font-size:48px; line-height: 1.1em" value=♟︎️︎ inputName="firstButton" formaction=board/ai/g7 /></td>



                                <td><input class = "odd" type ="submit" style="font-size:48px; line-height: 1.1em" value=♟︎️︎ inputName="firstButton" formaction=board/ai/h7 /></td>



                            </tr>

                            <tr><!-- if row == board 5 -->

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/a6 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/b6 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/c6 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/d6 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/e6 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/f6 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/g6 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/h6 /></td>



                            </tr>

                            <tr><!-- if row == board 5 -->
                                <!-- if the row is even, 8,6,4,2 -->

                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/a5 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/b5 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/c5 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/d5 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/e5 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/f5 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/g5 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/h5 /></td>



                            </tr>

                            <tr><!-- if row == board 5 -->

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/a4 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/b4 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/c4 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/d4 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/e4 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/f4 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/g4 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->
                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input  class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/h4 /></td>



                            </tr>

                            <tr><!-- if row == board 5 -->
                                <!-- if the row is even, 8,6,4,2 -->

                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/a3 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/b3 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/c3 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/d3 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/e3 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/f3 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "even" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/g3 /></td>


                                <!-- if there is emtySpace as the value of the dictonary -->
                                <!-- this is replacing with white space -->
                                <td><input class = "odd" type ="submit" value=&nbsp;&nbsp;&nbsp;&nbsp; inputName="firstButton" formaction=board/ai/h3 /></td>



                            </tr>

                            <tr><!-- if row == board 5 -->

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "odd" type ="submit" value=♙ inputName="firstButton" formaction=board/ai/a2 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "even" type ="submit" value=♙ inputName="firstButton" formaction=board/ai/b2 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "odd" type ="submit" value=♙ inputName="firstButton" formaction=board/ai/c2 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "even" type ="submit" value=♙ inputName="firstButton" formaction=board/ai/d2 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "odd" type ="submit" value=♙ inputName="firstButton" formaction=board/ai/e2 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "even" type ="submit" value=♙ inputName="firstButton" formaction=board/ai/f2 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "odd" type ="submit" value=♙ inputName="firstButton" formaction=board/ai/g2 /></td>

                                <!-- if the row is odd, 7,5,3,1 -->

                                <td><input  class = "even" type ="submit" value=♙ inputName="firstButton" formaction=board/ai/h2 /></td>



                            </tr>

                            <tr><!-- if row == board 5 -->
                                <!-- if the row is even, 8,6,4,2 -->


                                <td><input class = "even" type ="submit" value=♖ inputName="firstButton" formaction=board/ai/a1 /></td>



                                <td><input class = "odd" type ="submit" value=♘ inputName="firstButton" formaction=board/ai/b1 /></td>



                                <td><input class = "even" type ="submit" value=♗ inputName="firstButton" formaction=board/ai/c1 /></td>



                                <td><input class = "odd" type ="submit" value=♕ inputName="firstButton" formaction=board/ai/d1 /></td>



                                <td><input class = "even" type ="submit" value=♔ inputName="firstButton" formaction=board/ai/e1 /></td>



                                <td><input class = "odd" type ="submit" value=♗ inputName="firstButton" formaction=board/ai/f1 /></td>



                                <td><input class = "even" type ="submit" value=♘ inputName="firstButton" formaction=board/ai/g1 /></td>



                                <td><input class = "odd" type ="submit" value=♖ inputName="firstButton" formaction=board/ai/h1 /></td>



                            </tr>


                        </table>
                    </form>
                </td>
                <td>
                    <table>
                        <tr>
                            <td style="font-size:30px">move #</td>
                            <td style="font-size:30px" class="turn__values">&nbsp;&nbsp;&nbsp;&nbsp;values</td>
                        </tr>
                    </table>
                    <div id="turn__table">
                        <table>

                        </table>
                    </div>
                </td>
            </tr>
            <p>

                <br>
                <br>
            <td style="color:white" ></td>
            </p>
            <tr>

            </tr>
        </table>
        </body>
    </div>
</div>



<script language="javascript">

//this is what allows the tabel to continously update
function scrollDiv_init() {
    DivElmnt = document.getElementById('turn__table');
      instant_scroll()
}

function instant_scroll(){
  DivElmnt.scrollTop = DivElmnt.scrollHeight
}
</script>
{% block pagecontent %}
</body>
{% endblock %}
{% endblock %}
</html>
