<!DOCTYPE html>
{% extends "base.html" %}
{% block pagecontent %}

<!-- Easter egg page that holds Linkedin profiles for each team member-->
<h1 style="font-family:verdana"><b>You found the secret easter egg!</b></h1>

    <h1 style="text-align: left">
        ⠀⠀Portfolios
    </h1>
    <p style="text-align: left">
        ⠀⠀⠀Ava:
        <br>
        ⠀⠀⠀https://www.linkedin.com/in/ava-michelle-brooks-173567207/
        <br>
        <br>
        ⠀⠀⠀David:
        <br>
        ⠀⠀⠀https://www.linkedin.com/in/david-kim-8a3a59207/
        <br>
        <br>
        ⠀⠀⠀Lucas:
        <br>
        ⠀⠀⠀https://www.linkedin.com/in/lucas-bruner-a03a58207/
        <br>
        <br>
        ⠀⠀⠀Kyle:
        <br>
        ⠀⠀⠀https://www.linkedin.com/in/kyle-myint-33168b207/
    </p>
</div>

<div>
    <p>
        <br>
        <br>
        <br>
        Here are some of our old projects! The first one is a fully functioning chess game made in python by Kyle and David!
        <br>
        The second one is a mad libs game coded in python! This one was made by Ava and Lucas.
    </p>
</div>
<div>
    <iframe frameborder="0" width="90%" height="700px" src="https://repl.it/@KyleMyint/Advanced-Tictactoe-game?lite=true"></iframe>
</div>
<div>
    <iframe frameborder="0" width="90%" height="700px" src="https://repl.it/@Ryanshay18/ResponsibleFastDesignmethod?lite=true"></iframe>
</div>
<style>
/* welcome message formatting and placement */
h1 {
    text-align: center;
    margin-top: 130px;
    color: black;
    font-size: 80px
    }

p {
    text-align: center;
    color:black;
    font-size: 20px

}






</style>


{% endblock %}