<!DOCTYPE html>
{% extends "base.html" %}
{% block pagecontent %}

<!-- Easter egg page that holds Linkedin profiles for each team member-->
<h1 style="font-family:verdana"><b>You found the secret easter egg!</b></h1>

    <h1 style="text-align: left">
        ⠀⠀Portfolios
    </h1>
    <p style="text-align: left">
        ⠀⠀⠀Ava:
        <br>
        ⠀⠀⠀- I can build a Python/Flask web server.
        <br>
        ⠀⠀⠀- I can develop web frontends  using HTML, CSS, and BootStrap.
        <br>
        ⠀⠀⠀- I know the concepts of HTML forms, HTML5 validation, building Jinja templates, and exchanging data between frontend and backend using Flask framework and Jinja variables.
        <br>
        ⠀⠀⠀- I can do backend work with SQL databases, specifically SQLite and SQLalchemy utilizing the Flask framework.
        <br>
        ⠀⠀⠀- I know Database concepts like  establishing tables to setup and manage user accounts. I know Flask services like login_required.
        <br>
        <br>
        ⠀⠀⠀David:
        <br>
        ⠀⠀⠀- I can code using python to develop backend
        <br>
        ⠀⠀⠀- Using JSON, I can access web APIs and process the data in a comprehensive way
        <br>
        ⠀⠀⠀- I have a basic understanding of flask, and am able to comprehend the frontend to connect the backend
        <br>
        <br>
        ⠀⠀⠀Lucas:
        <br>
        ⠀⠀⠀- I can build a Python/Flask web server.
        <br>
        ⠀⠀⠀- I have worked with Internet Service Provider DNS records to setup my own Domain.
        <br>
        ⠀⠀⠀- I can develop web frontends using HTML, CSS, and BootStrap.
        <br>
        ⠀⠀⠀- I have worked with port forwarding to host my own website to the World Wide Web.
        <br>
        <br>
        ⠀⠀⠀Kyle:
        <br>
        ⠀⠀⠀- I can use databases to store and use information
        <br>
           - I am able to use some POST methods in order to pass information between front end and back end programs
        <br>
           - I understand basic html / css and can use bootstrap to create web pages
        <br>
           - I can python.
    </p>
</div>

<div>
    <p>
        <br>
        <br>
        <br>
        Here are some of our old projects! The first one is a fully functioning chess game made in python by Kyle and David!
        <br>
        The second one is a mad libs game coded in python! This one was made by Ava and Lucas.
    </p>
</div>
<div>
    <iframe frameborder="0" width="90%" height="700px" src="https://repl.it/@KyleMyint/Advanced-Tictactoe-game?lite=true"></iframe>
</div>
<div>
    <iframe frameborder="0" width="90%" height="700px" src="https://repl.it/@Ryanshay18/ResponsibleFastDesignmethod?lite=true"></iframe>
</div>
<style>
/* welcome message formatting and placement */
h1 {
    text-align: center;
    margin-top: 130px;
    color: white;
    font-size: 80px
    }

p {
    text-align: center;
    color:white;
    font-size: 20px

}






</style>


{% endblock %}