<!DOCTYPE html>
{% extends "base.html" %}
{% block pagecontent %}
<div class="row" style="padding-top: 550px;
                        padding-left: 1000px;">
    <div class="col-4">
        <form action="#">
            <input type="submit" value="Play Chess!" />
        </form>
    </div>
</div>
<div class="row" style="padding-top: -100px;
                        padding-bottom: 50px;
                        padding-left: 600px;">
    <div class="col-4">
        <form action="#">
            <input type="submit" value="Log In" />
        </form>
    </div>
</div>




{% endblock %}