<!DOCTYPE html>
{% extends "base.html" %}
{% block pagecontent %}

<!-- Welcome message -->
<h1 style="font-family:verdana"><b>Welcome To Chess Offline!</b></h1>

<!-- Play Chess button, image/design created by Lucas -->
<div class="Play" style="padding-left: 35%; padding-top: 8%">
<a href="/play"><img src="/static/playchess.png" style="width:175px; height:125px" title="Play Chess" alt="PlayChess" id="Play"></a>
</div>

<!-- Sign Up button, image/design created by Lucas -->
<div class="Sign" style="padding-left: 35%; padding-top:8%">
<a href="/signup"><img src="/static/signup.png" style="width:170px; height:125px" title="Sign Up" alt="SignUp" id="Sign"></a>
</div>


<style>
/* formats image buttons to be directly side by side */
    .Play {
float: left;
width: 50%;
padding: 5px;
}

.Play::after {
content: "";
clear: both;
display: table;
}

/* welcome message formatting and placement */
h1 {
    text-align: center;
    margin-top: 250px;
    color: white;
    font-size: 70px
    }
</style>


{% endblock %}