<!DOCTYPE html>
{% extends "base.html" %}
{% block pagecontent %}
<section class="home">
</section>
<div style="height: 1000px">
    <!-- just to make scrolling effect possible -->
    <h2 class="myH2">How To Play</h2>
    <br>
    <p class="myP">General:<br>
        There are 2 sides, Black and White.  Both alternate taking turns by moving a piece, starting with white.  The objective of the game is to checkmate the enemy king, meaning that they are being attacked by one of your pieces and they cannot escape.</p>
    <p class="myP">Pieces:
        <br>
        <br>
        Pawn - ♟
        Pawns can move forward, towards the enemy backline.  They typically move one space at a time, though they can move forward 2 spaces on their first turn. Pawns can capture other pieces diagonally - forward one and to either side.  If they reach the final rank on the other side of the board, they can promote to another piece; Rook, Bishop, Knight, or Queen.
        <br></a></p>
    <p class="myP">Rook - ♜
        Rooks can move infinite spaces horizontally or vertically, as long as there are no other pieces in the way.
        <br></p>
    <p class="myP">    Knight - ♞
        Knights move 2 spaces in 1 direction, and 1 space perpendicular to the first direction - making an L shape.  They can 'jump' over other pieces.
        <br></p>
    <p class="myP">Bishop - ♝
        Bishops can move infinite spaces diagonally, as long as there are no other pieces in the way.</p>
    <p class="myP">Queen - ♛
        Queens can move infinite spaces diagonally, horizontally, or vertically, as long as there are no other pieces in the way.</p>
    <p class="myP">    King - <a href="/easter">♚</a>
        Kings can move a single space in any direction.</p>
    <br>
    <br>
    <p class="myP">Special Moves:<br>
    <p class="myP">
        Castling -
        Provided these conditions are met, the king will move 2 spaces towards either rook, and the rook will move past to the other side of the king.
        <br>
    <p class="myP">1. The king and rook being used have not been moved.</p>

    <p class="myP">2. The king is not in check, moving through check, or moving into check</p>
    <p class="myP">En Passant -
        A pawn can capture an enemy pawn to the side, provided these conditions are met
        1. The opposing pawn is directly to the left or right of the attacking pawn
        2. The opposing pawn had moved forward 2 spaces the turn before
        The attacking pawn will then capture, moving forward and toward the enemy pawn</p>

</div>


{% endblock %}