<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}

<div class="banner">
    <div class="container">
        <h1>Join A Game</h1>
        <form method="POST" ID="myForm" action=# class="form1">
            <p>
                <label for="game_id" class="floatLabel">Enter Game ID</label>
                <input id="game_id" name="game_id" placeholder="Game ID" type="text" required="required">
            </p>

            <input type="submit" class="button button-primary" value="Join">
            </p>
        </form>
    </div>
</div>


{% block pagecontent %}
{% endblock %}
{% endblock %}