<!DOCTYPE html>
{% extends "base.html" %}
{% block pagecontent %}

<h1 style="font-family:verdana"><b>Play Chess Below!</b></h1>


<!-- Play against computer -->
<div class="Computer" style="padding-left: 20%; padding-top: 10%">
    <a href="/playai"><img src="/static/bots.png" style="width:175px; height:125px" title="Computer" alt="Computer" id="Computer"></a>
</div>

<!-- Multiplayer -->
<div class="Multiplayer" style="padding-left: 45%; padding-top: 10%">
    <a href=#><img src="/static/multiplayer.png" style="width:175px; height:125px" title="Multiplayer" alt="Multiplayer" id="Multiplayer"></a>
</div>

<!-- Replay Game -->
<div class="replay" style="padding-left: 70%; padding-top: 0%">
    <a href="#"><img src="/static/replays.png" style="width:175px; height:125px" title="Replay an old game" alt="Replay" id="Replay"></a>
</div>

<style>
/* welcome message formatting and placement */
h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 80px
    }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.Computer {
  float: left;
  width: 10%;
  padding: 5px;
}

/* Clear floats after image containers */
.Computer::after {
  content: "";
  clear: both;
  display: table;
}

</style>


{% endblock %}