<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}

<div class="banner">
    <div class="container">
        <h1>Play Chess Below!</h1>
        <a href="/playai" class="button button-primary">Play With AI</a>
        <a href="#" class="button button-primary">Multiplayer</a>
        <a href="#" class="button button-primary">Replay A Game</a>
    </div>
</div>

{% block pagecontent %}


<style>


    .Computer {
float: left;
width: 33.33%;
padding: 5px;

}

.Computer::after {
content: "";
clear: both;
display: table;
}

    .Multiplayer {
float: left;
width: 33%;
padding: 5px;
}

.Multiplayer::after {
content: "";
clear: both;
display: table;
}


</style>


{% endblock %}
{% endblock %}
</header>