<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}

<div class="banner">
    <div class="container">
        <h1>Profile</h1>
        <br>
        <img src="/static/knight.png" style="align: left">
        <div>

        <body>
        <section>
            <div class="hero-body">
                <div class="container">

                    <h2>
                            Your Current Stats:
                        <br> <br>
                        <div>
                    <table style="width:100%">
                        <tr>
                            <th>Tactics Score</th>
                            <th>Streak Score</th>
                            <th>Multiplayer Score</th>
                        </tr>
                        <tr>
                            <td>1500</td>
                            <td>0</td>
                            <td>1500</td>
                        </tr>
                    </table>
                        </div>
                    </h2>
                </div>
            </div>
            <a href="/logout" class="button button-primary">Logout</a>
        </section>
        </body>
        </div>
    </div>
</div>


<style>

    h1 {
    text-align: left;
    margin-top: 50px;
    color: white;
    font-size: 70px;
    text-decoration: underline
    }

     h2 {
    text-align: left;
    margin-top: px;
    color: white;
    font-size: 25px
    }

    table {
    font-size: 20px;
    color: white;
    text-align: center
    }

</style>
{% block pagecontent %}
{% endblock %}
{% endblock %}
